.tdClass{
	width:150px;
    height:150px;
    text-align:center;
    border:groove;
}
.insertStyle{
	font-size: 80px;
	font-weight: bold;
	font-style: normal;
	font-family: fantasy;
}
.headerStyle{
	text-align: center;
	font-size: 50px;
	font-style: normal;
	font-weight: bold;
	font-family: fantasy;
}
.commentStyle{
	text-align: center;
	font-size: 20px;
	font-size: normal;
	font-weight: bolder;
	font-family: fantasy;
}
.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}